@font-face {
    font-family: "Inter";
    src: url("../fonts/Inter-Regular.ttf");
}
@font-face {
    font-family: "Inter Bold";
    src: url("../fonts/Inter-Bold.ttf");
}
@font-face {
    font-family: "Inter Semi-Bold";
    src: url("../fonts/Inter-SemiBold.ttf");
}
@font-face {
    font-family: "Inter Light";
    src: url("../fonts/Inter-Light.ttf");
}

:root {
    --text: #050802;
    --background: #F2F9EC;
    --CTA: #7AF300;
    --secondary: #E6F3D8;
    --accent: #53A27D;
    --accent2: #B5D9C8;
    --large-screen-size: 1250px;
    --medium-screen-size: 990px;
    --small-screen-size: 672px;
    --very-small-screen-size: 338px;
}

* {
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
    word-break: break-word;
}

a {
    text-decoration: none;
    color: var(--text);
}

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
    background: var(--background);
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--text);
    overflow-x: auto;
}

header {
    max-width: var(--large-screen-size);
    width: 100%;
    height: 100px;
}

header nav {
    display: flex;
    height: 100%;
    padding: 0 15px;
    align-items: center;
}

header nav h1 {
    font-family: "Inter", sans-serif;
    margin-right: auto;
}
header nav ul.nav-links {
    display: flex;
    list-style: none;
}
header nav ul li:not(:last-child) {
    margin-right: 20px;
    text-align: center;
    font-size: large;
}
header nav ul li:last-child {
    font-size: medium;
    transition: 100ms all;
    font-weight: bold;
}
header nav ul li:last-child:active {
    transform: translateY(7px);
}
header nav ul li a.cv-download{
    font-size: medium;
    background-color: #7AF300;
    padding: 20px 15px;
    border-radius: 5px;
    box-shadow: 0px 7px #53A27D;
    color: var(--text);
    transition: 100ms all;
    position: relative;
}
header nav ul li a.cv-download:active {
    box-shadow: 0px 0px #53A27D;
}
main {
    max-width: var(--large-screen-size);
    width: 100%;
    display: flex;
    flex-direction: column;
}

main section.main-section {
    min-height: 100vh;
    width: 100%;
    background-color: red; /* Unneeded once fully done*/
}
main section.main-section:nth-child(1),
main section.main-section:nth-child(2) {    /* Unneeded once fully done*/
    background-color: transparent;
}

main section.main-section.home:first-child {
    min-height: calc(100vh - 100px);
}

/* 
=======================================
HOME
=======================================
*/

.home {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap-reverse;
    padding: 0 50px;
    position: relative;
}

.home div.home-left-side p {
    margin: 0;
    font-size: clamp(30px, calc(4vw - 1px), 45px);
    font-family: "Inter Bold", sans-serif;
}
.home div.home-left-side p:last-child span {
    color: var(--accent);
    font-family: "Inter Bold", sans-serif;
}

.home div.home-right-side div {
    position: relative;
}

.home div.home-right-side #blob {
    color: var(--accent);
    width: clamp(300px, calc(30vw - 40px), 500px);
    height: clamp(300px, calc(30vw - 40px), 500px);
    z-index: 1;
    animation: animateBigBlob 20s linear infinite;
}
.home div.home-right-side #blob-background-top {
    color: var(--accent2);
    width: clamp(150px, calc(30vw - 40px), 225px);
    height: clamp(150px, calc(30vw - 40px), 225px);
    position: absolute;
    top: 5px;
    left: -10px;
    transform: rotate(45deg);
    z-index: -1;
    animation: animateTopBlob 10s linear infinite;
}
.home div.home-right-side #blob-background-bottom {
    color: var(--accent2);
    width: clamp(150px, calc(30vw - 40px), 225px);
    height: clamp(150px, calc(30vw - 40px), 225px);
    position: absolute;
    right: -20px;
    bottom: -10px;
    transform: rotate(20deg);
    z-index: -1;
    animation: animateBottomBlob 10s linear infinite;
}

.home #moreContentArrowDown {
    position: absolute;
    left: 50%;
    bottom: 20px;
    transform: translateX(-50%);
    color: var(--accent);
}

@keyframes animateBigBlob {
    0% {
        transform:  rotate(0deg);
    }
    100% {
        transform:  rotate(360deg);
    }
}
@keyframes animateTopBlob {
    0% {
        transform:  rotate(45deg) scaleX(1.1) scaleY(1);
    }
    50% {
        transform:  rotate(180deg) scaleX(1.1) scaleY(1.25);
    }
    100% {
        transform:  rotate(405deg) scaleX(1.1) scaleY(1);
    }
}
@keyframes animateBottomBlob {
    0% {
        transform:  rotate(20deg) scaleX(1.1) scaleY(1);
    }
    50% {
        transform:  rotate(-160deg) scaleX(1.1) scaleY(1.2);
    }
    100% {
        transform:  rotate(-340deg) scaleX(1.1) scaleY(1);
    }
}

@media screen and (max-width: 672px) {
    .home {
        align-content: center;
        gap: 50px;
    }
    .home div.home-left-side {
        transform: translateY(-50%);
    }
    .home #moreContentArrowDown {
        aspect-ratio: 0.13;
        height: 15px;
    }
}
@media screen and (max-width: 456px) {
    .home div.home-left-side {
        transform: translateY(0);
    }
    .home div.home-right-side #blob{
        height: 150px;
        width: 150px;
    }
    .home div.home-right-side #blob-background-top,
    .home div.home-right-side #blob-background-bottom {
        height: 75px;
        width: 75px;
    }
    .home {
        padding: 0 10px;
    }
    .home #moreContentArrowDown {
        aspect-ratio: 0.13;
        height: 10px;
    }
}

/* 
=======================================
SKILLS
=======================================
*/

#skills {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#skills div.skills-wrapper {
    position: relative;
    max-width: 840px;
    width: 100%;
    margin: 0;
}

#skills ul.skills-container {
    width: 100%;
    height: max-content;
    list-style: none;
    overflow-x: scroll;
    display: grid;
    gap: 15px;
    grid-template-rows: repeat(4, auto);
    padding: 15px;
}
#skills ul.skills-container::-webkit-scrollbar-track
{
	border-radius: 5px;
	background-color: var(--secondary)
}

#skills ul.skills-container::-webkit-scrollbar
{
	width: 12px;
	background-color: #F5F5F5;
}

#skills ul.skills-container::-webkit-scrollbar-thumb
{
	border-radius: 5px;
	background-color: var(--accent);
}

#skills div.skills-wrapper::before {
    content: "";
    position: absolute;
    left: -35px;
    height: calc(100% - 40px);
    width: 50px;
    z-index: 2;
    background-image: linear-gradient(90deg, var(--background) 70%, transparent);

}
#skills div.skills-wrapper::after {
    content: "";
    position: absolute;
    right: -35px;
    top: 0px;
    height: calc(100% - 40px);
    width: 50px;
    z-index: 2;
    background-image: linear-gradient(-90deg, var(--background) 70%, transparent);
}
#skills ul.skills-container .skill-item {
    width: 150px;
    aspect-ratio: 1;
    background-color: var(--secondary);
    border-radius: 5px;
    transition: 100ms;
}
#skills ul.skills-container .skill-item:hover {
    box-shadow: 0px 8px 20px rgba(149, 157, 165, 0.24);
    transform: scale(1.01);
}
#skills ul.skills-container .skill-item a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}
#skills ul.skills-container .skill-item a > img {
    width: 60%;
    height: 60%;
    object-fit: contain;
}

@media screen and (max-width: 990px) {
    #skills div.skills-wrapper {
        width: 80%;
    }
}
@media screen and (max-width: 672px) {
    #skills ul.skills-container .skill-item {
        width: 100px;
    }
}

#skills div.skills-title {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 25px;
}
#skills div.skills-title h2 {
    color: var(--accent);
    font-family: "Inter Light", sans-serif;
    position: relative;
    transform: translateX(25px);
    font-size: clamp(25px, calc(5vw), 40px);
    margin-bottom: 0;
}
#skills div.skills-title div {
    background-color: var(--accent);
    width: 160px;
    transform: translateX(-25px);
    height: clamp(5px, calc(1vw), 8px);
}
@media screen and (max-width: 672px) {
    #skills div.skills-title div {
        width: 100px;
        transform: translateX(-10px);
    }
}





/*
    --large-screen-size: 1250px;
    --medium-screen-size: 990px;
    --small-screen-size: 672px;
    --very-small-screen-size: 338px;
*/