:root {
    --text: #050802;
    --background: #F2F9EC;
    --CTA: #7AF300;
    --secondary: #E6F3D8;
    --accent: #53A27D;
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

main {

}