@font-face {
    font-family: "Inter";
    src: url("../fonts/Inter-Regular.ttf");
}
@font-face {
    font-family: "Inter Bold";
    src: url("../fonts/Inter-Bold.ttf");
}
@font-face {
    font-family: "Inter Semi-Bold";
    src: url("../fonts/Inter-SemiBold.ttf");
}
@font-face {
    font-family: "Inter Light";
    src: url("../fonts/Inter-Light.ttf");
}

:root {
    --text: #050802;
    --background: #F2F9EC;
    --CTA: #7AF300;
    --secondary: #E6F3D8;
    --accent: #53A27D;
    --accent2: #B5D9C8;
    --large-screen-size: 1250px;
    --medium-screen-size: 990px;
    --small-screen-size: 672px;
    --very-small-screen-size: 338px;
}

* {
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
    word-break: break-word;
}
*::selection {
    background-color: var(--accent);
    color: var(--secondary);
}

a {
    text-decoration: none;
    color: var(--text);
}

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
    background: var(--background);
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--text);
    overflow-x: hidden;
    position: relative;
}
body::-webkit-scrollbar-track
{
	border-radius: 5px;
	background-color: var(--secondary)
}

body::-webkit-scrollbar
{
	width: 12px;
	background-color: #F5F5F5;
}

body::-webkit-scrollbar-thumb
{
	background-color: var(--accent);
}

.hidden {
    opacity: 0;
    filter: blur(2px);
    transform: translateX(-100%);
    transition: 1s all;
}

.visible {
    transform: translateX(0px);
    filter: blur(0);
    opacity: 1;
}

.slideIn-bottom.hidden {
    opacity: 0;
    filter: blur(1px);
    transform: translateY(0);
    transition: 1s all;
}
.slideIn-bottom.visible {
    transform: translateX(0px);
    filter: blur(0);
    opacity: 1;
}


@media(prefers-reduced-motion) {
    .hidden {
        transition: none;
    }
}

/* 
=======================================
HEADER / NAV
=======================================
*/

header {
    max-width: var(--large-screen-size);
    width: 100%;
    height: 100px;
}

header nav {
    display: flex;
    height: 100%;
    padding: 0 15px;
    align-items: center;
}

header nav h1 {
    font-family: "Inter", sans-serif;
    margin-right: auto;
}
header nav ul.nav-links {
    display: flex;
    list-style: none;
}
header nav ul li:not(:last-child) {
    margin-right: 20px;
    text-align: center;
    font-size: large;
}
header nav ul li:last-child {
    font-size: medium;
    transition: 100ms all;
    font-weight: bold;
}
header nav ul li:last-child:active {
    transform: translateY(7px);
}
header nav ul li a.cv-download{
    font-size: medium;
    background-color: #7AF300;
    padding: 20px 15px;
    border-radius: 5px;
    box-shadow: 0px 7px #53A27D;
    color: var(--text);
    transition: 100ms all;
    position: relative;
}
header nav ul li a.cv-download:active {
    box-shadow: 0px 0px #53A27D;
}
main {
    position: relative;
    max-width: var(--large-screen-size);
    width: 100%;
    display: flex;
    flex-direction: column;
}

main section.main-section {
    min-height: 100vh;
    width: 100%;
}

main section.main-section.home:first-child {
    min-height: calc(100vh - 100px);
}

/* 
=======================================
HOME
=======================================
*/

.home {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap-reverse;
    padding: 0 50px;
    position: relative;
}

.home div.home-left-side p {
    margin: 0;
    font-size: clamp(30px, calc(4vw - 1px), 45px);
    font-family: "Inter Bold", sans-serif;
}
.home div.home-left-side p::selection{
    color: var(--accent);
    background-color: rgba(0,0,0, 0.05)
}
.home div.home-left-side p:last-child {
    transition-delay: 100ms;
}
.home div.home-left-side p:last-child span {
    color: var(--accent);
    font-family: "Inter Bold", sans-serif;
}
.home div.home-left-side p:last-child span::selection{
    background-color: var(--accent);
    color: var(--secondary);
}

.home div.home-right-side div {
    position: relative;
}

.home div.home-right-side #blob {
    color: var(--accent);
    width: clamp(300px, calc(30vw - 40px), 500px);
    height: clamp(300px, calc(30vw - 40px), 500px);
    z-index: 1;
    animation: animateBigBlob 20s linear infinite;
}
.home div.home-right-side #blob-background-top {
    color: var(--accent2);
    width: clamp(150px, calc(30vw - 40px), 225px);
    height: clamp(150px, calc(30vw - 40px), 225px);
    position: absolute;
    top: 5px;
    left: -10px;
    transform: rotate(45deg);
    z-index: -1;
    animation: animateTopBlob 10s linear infinite;
}
.home div.home-right-side #blob-background-bottom {
    color: var(--accent2);
    width: clamp(150px, calc(30vw - 40px), 225px);
    height: clamp(150px, calc(30vw - 40px), 225px);
    position: absolute;
    right: -20px;
    bottom: -10px;
    transform: rotate(20deg);
    z-index: -1;
    animation: animateBottomBlob 10s linear infinite;
}

.home #moreContentArrowDown {
    position: absolute;
    left: 50%;
    bottom: 20px;
    transform: translateX(-50%);
    color: var(--accent);
}

@keyframes animateBigBlob {
    0% {
        transform:  rotate(0deg);
    }
    100% {
        transform:  rotate(360deg);
    }
}
@keyframes animateTopBlob {
    0% {
        transform:  rotate(45deg) scaleX(1.1) scaleY(1);
    }
    50% {
        transform:  rotate(180deg) scaleX(1.1) scaleY(1.25);
    }
    100% {
        transform:  rotate(405deg) scaleX(1.1) scaleY(1);
    }
}
@keyframes animateBottomBlob {
    0% {
        transform:  rotate(20deg) scaleX(1.1) scaleY(1);
    }
    50% {
        transform:  rotate(-160deg) scaleX(1.1) scaleY(1.2);
    }
    100% {
        transform:  rotate(-340deg) scaleX(1.1) scaleY(1);
    }
}

@media screen and (max-width: 672px) {
    .home {
        align-content: center;
        gap: 50px;
    }
    .home div.home-left-side {
        transform: translateY(-50%);
    }
    .home #moreContentArrowDown {
        aspect-ratio: 0.13;
        height: 15px;
    }
}
@media screen and (max-width: 456px) {
    .home div.home-left-side {
        transform: translateY(0);
    }
    .home div.home-right-side #blob{
        height: 150px;
        width: 150px;
    }
    .home div.home-right-side #blob-background-top,
    .home div.home-right-side #blob-background-bottom {
        height: 75px;
        width: 75px;
    }
    .home {
        padding: 0 10px;
    }
    .home #moreContentArrowDown {
        aspect-ratio: 0.13;
        height: 10px;
    }
}

/* 
=======================================
SKILLS
=======================================
*/

#skills {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#skills div.skills-wrapper {
    position: relative;
    max-width: 840px;
    width: 100%;
    margin: 0;
}

#skills ul.skills-container {
    width: 100%;
    height: max-content;
    list-style: none;
    overflow-x: scroll;
    display: grid;
    gap: 15px;
    grid-template-rows: repeat(4, auto);
    padding: 15px;
}
#skills ul.skills-container::-webkit-scrollbar-track
{
	border-radius: 5px;
	background-color: var(--secondary)
}

#skills ul.skills-container::-webkit-scrollbar
{
	width: 12px;
	background-color: #F5F5F5;
}

#skills ul.skills-container::-webkit-scrollbar-thumb
{
	border-radius: 5px;
	background-color: var(--accent2);
}

#skills div.skills-wrapper::before {
    content: "";
    position: absolute;
    left: -35px;
    height: calc(100% - 40px);
    width: 50px;
    z-index: 2;
    background-image: linear-gradient(90deg, var(--background) 70%, transparent);

}
#skills div.skills-wrapper::after {
    content: "";
    position: absolute;
    right: -35px;
    top: 0px;
    height: calc(100% - 40px);
    width: 50px;
    z-index: 2;
    background-image: linear-gradient(-90deg, var(--background) 70%, transparent);
}
#skills ul.skills-container .skill-item {
    width: 150px;
    aspect-ratio: 1;
    background-color: var(--secondary);
    border-radius: 5px;
    transition: 100ms;
}
#skills ul.skills-container .skill-item:hover {
    box-shadow: 0px 8px 20px rgba(149, 157, 165, 0.24);
    transform: scale(1.01);
}
#skills ul.skills-container .skill-item a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}
#skills ul.skills-container .skill-item a > img {
    width: 60%;
    height: 60%;
    object-fit: contain;
    user-select: none;
    -webkit-user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

@media screen and (max-width: 990px) {
    #skills div.skills-wrapper {
        width: 80%;
    }
}
@media screen and (max-width: 672px) {
    #skills ul.skills-container .skill-item {
        width: 100px;
    }
}

#skills div.skills-title {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 25px;
}
#skills div.skills-title h2 {
    color: var(--accent);
    font-family: "Inter Light", sans-serif;
    position: relative;
    transform: translateX(25px);
    font-size: clamp(25px, calc(5vw), 35px);
    margin-bottom: 0;
}
#skills div.skills-title div {
    background-color: var(--accent);
    width: 160px;
    transform: translateX(-25px);
    height: clamp(5px, calc(1vw), 8px);
}
@media screen and (max-width: 672px) {
    #skills div.skills-title div {
        width: 100px;
        transform: translateX(-10px);
    }
}

/* 
=======================================
PROJECTS
=======================================
*/

#projects {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#projects div.projects-title {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 50px;
}

#projects div.projects-title.hidden {
    opacity: 0;
    filter: blur(2px);
    transform: translateX(100%);
    transition: 1s all;
}
#projects div.projects-title.visible {
    transform: translateX(0px);
    filter: blur(0);
    opacity: 1;
}
#projects div.projects-title h2 {
    color: var(--accent);
    font-family: "Inter Light", sans-serif;
    position: relative;
    transform: translateX(-25px);
    font-size: clamp(25px, calc(5vw), 35px);
    margin-bottom: 0;
}
#projects div.projects-title div {
    background-color: var(--accent);
    width: 160px;
    transform: translateX(25px);
    height: clamp(5px, calc(1vw), 8px);
}
@media screen and (max-width: 672px) {
    #projects div.projects-title div {
        width: 100px;
        transform: translateX(10px);
    }
}

#projects div.projects-container {
    position: relative;
    max-width: 930px;
    height: clamp(400px, calc(80vw), 450px);
    width: 100%;
    margin: 0;
    display: flex;
    gap: 25px;
    overflow-x: scroll;
    scroll-behavior: smooth;
    scroll-snap-type: y mandatory;
    scroll-snap-align: start;
    padding: 25px;
}
#projects div.projects-container::-webkit-scrollbar-track {
	border-radius: 5px;
	background-color: var(--secondary)
}
#projects div.projects-container::-webkit-scrollbar {
	width: 12px;
	background-color: #F5F5F5;
}
#projects div.projects-container::-webkit-scrollbar-thumb {
	border-radius: 5px;
	background-color: var(--accent2);
}

#projects div.projects-wrapper {
    position: relative;
}

@media screen and (max-width: 990px) {
    #projects div.projects-wrapper {
        width: 90%;
    }
}

#projects div.projects-wrapper::before {
    content: "";
    position: absolute;
    left: -35px;
    height: calc(100% - 40px);
    width: 50px;
    z-index: 2;
    background-image: linear-gradient(90deg, var(--background) 70%, transparent);

}
#projects div.projects-wrapper::after {
    content: "";
    position: absolute;
    right: -35px;
    top: 0px;
    height: calc(100% - 40px);
    width: 50px;
    z-index: 2;
    background-image: linear-gradient(-90deg, var(--background) 70%, transparent);
}
#projects .project {
    flex: 0 0 auto;
    height: 100%;
    max-width: 400px;
    width: 100%;
    background-color: var(--secondary);
    position: relative;
    border-radius: 3px;
    overflow: hidden;
    border: none;
}

#projects .project:hover {
    box-shadow: 0px 8px 20px rgba(149, 157, 165, 0.24);
    cursor: pointer;
}

#projects .project-img-container {
    width: 100%;
    height: 200px;
    height: clamp(100px, calc(40vw), 175px);
}
#projects .project-img-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#projects .project-title {
    font-family: "Inter Bold", sans-serif;
    width: 100%;
    padding: 0 15px;
    font-size: 20px;
    margin: 15px 0 0 0;
    user-select: none;
    display: -webkit-box; 
    -webkit-box-orient: vertical; 
    -webkit-line-clamp: 4; 
    overflow: hidden; 
    text-overflow: ellipsis; 
}
@media screen and (max-width: 338px) {
    #projects .project-title {
        font-size: 17px;
    }
}

#projects .tags {
    margin: 0 15px;
    display: flex;
    gap: 5px;
    overflow: hidden;
    position: relative;
    height: auto;
}
#projects .tags::after {
    content: "";
    position: absolute;
    right: 0px;
    height: 100%;
    width: 25px;
    background-image: linear-gradient(90deg, transparent, var(--secondary));
}
#projects .tag {
    flex: 0 0 auto;
    padding: 5px 10px;
    background-color: var(--accent);
    color: var(--secondary);
    border-radius: 5px;
    font-size: 15px;
    user-select: none;
    
}

#projects .arrowRightProject {
    color: var(--text);
    width: 20px;
    height: 20px;
    position: absolute;
    bottom: 15px;
    right: 15px;
}

@media screen and (max-width: 1250px) {
    #projects div.projects-container {
        width: 100%;
    }
}


/* 
=======================================
ABOUT ME
=======================================
*/

#aboutme {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: "Inter Light", sans-serif;
    color: var(--text);
}

#aboutme .aboutme-container {
    width: 100%;
    padding: 0 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap-reverse;
    margin-bottom: 50px;
}

#aboutme div.about-left {
    min-width: 600px;
    max-width: 600px;
    width: 100%;
    height: max-content;
}

#aboutme .greeting-1,
#aboutme .greeting-2 {
    margin: 0;
    font-size: 30px;
}
#aboutme .greeting-2 > span,
#aboutme .role {
    font-family: "Inter Bold", sans-serif;
    color: var(--accent);
    transition-delay: 250ms;
}

#aboutme .role {
    font-size: 25px;
}

#aboutme .textblock-info {
    line-height: 30px;
    letter-spacing: 1px;
    transition-delay: 500ms;
}

#aboutme .contact-me {
    color: var(--accent);
    display: flex;
    gap: 25px;
    align-items: center;
    font-size: 17.5px;
    transition-delay: 600ms;
}

#aboutme .contact-about-me {
    display: flex;
    gap: 10px;
}

#aboutme .contact-about-me .contact-me-logo {
    background-color: var(--background);
    color: var(--accent);
    height: 30px;
    width: 30px;
    border-radius: 2px;
}
#aboutme .contact-about-me .contact-me-logo:hover {
    background-color: var(--accent);
    color: var(--secondary);
}

#aboutme div.about-right {
    display: flex;
    justify-content: center;
    align-items: center;
}
#aboutme div.about-right div{
    position: relative;
    transform: rotate(-2deg);
    
}

#aboutme div.about-right #blob {
    width: 500px;
    height: 500px;
    color: var(--secondary);
}
#aboutme div.about-right #blob:last-child {
    position: absolute;
    top: 0;
    left: 0;
    transform: scale(1.02);
    z-index: -1;
    color: var(--accent);
}
#aboutme div.about-right div.img-container {
    position: absolute;
    width: 300px;
    height: 400px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    border-radius: 0 0 50% 50%;
    overflow: hidden;
}
#aboutme div.about-right div.img-container img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

@media screen and (max-width: 672px) {
    #aboutme div.about-right #blob {
        width: clamp(150px, calc(50vw), 500px);
        height: clamp(150px, calc(50vw), 500px);
        color: var(--accent2);
    }
    #aboutme .greeting-1,
    #aboutme .greeting-2,
    #aboutme .role {
        text-align: center;
    }
    #aboutme div.about-left {
        min-width: auto;
        width: 100%;
        height: max-content;
    }
    #aboutme .contact-me  {
        justify-content: center;
    }
}
@media screen and (max-width: 410px) {
    #aboutme .contact-me {
        flex-direction: column;
        gap: 5px;
        margin-top: 20px;
    }
    #aboutme .contact-me p {
        margin: 0;
    }
}

#aboutme div.aboutme-title {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 25px;
}
#aboutme div.aboutme-title h2 {
    color: var(--accent);
    font-family: "Inter Light", sans-serif;
    position: relative;
    transform: translateX(25px);
    font-size: clamp(25px, calc(5vw), 35px);
    margin-bottom: 0;
}
#aboutme div.aboutme-title div {
    background-color: var(--accent);
    width: 160px;
    transform: translateX(-25px);
    height: clamp(5px, calc(1vw), 8px);
}
@media screen and (max-width: 672px) {
    #aboutme div.aboutme-title div {
        width: 100px;
        transform: translateX(-10px);
    }
}



/* 
=======================================
FOOTER
=======================================
*/

footer {
    width: 100%;
    background-color: var(--accent);
    min-height: 150px;
    color: var(--secondary);
}

footer .footer-container {
    max-width: var(--large-screen-size);
    width: 100%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 0 50px;
}

footer .footer-container > div:first-of-type{
    margin: 50px 0;
    display: flex;
    gap: 25px;
}
footer .footer-container div:first-child a {
    color: var(--secondary);
    padding: 10px;
}
footer .footer-container div:first-child a:hover {
    color:var(--accent2)
}

footer .divider {
    width: 100%;
}

footer .footer-container > div:last-child {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    margin: 15px 0 25px 0;
    min-height: 25px;
}
footer .footer-container > div:last-child p:first-of-type {
    position: relative;
    margin: 0;
}

footer .footer-container > div:last-child a {
    display: flex;
    align-items: center;
    justify-content: center;
}
footer .footer-container > div:last-child a:hover > .contact-me-logo{
    background-color: var(--secondary);
    color: var(--accent);
    transition: 500ms all;

}
footer .footer-container > div:last-child div:has(a) {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
}

footer .contact-me-logo {
    background-color: var(--accent);
    color: var(--secondary);
    height: 30px;
    width: 30px;
    border-radius: 2px;
}

@media screen and (max-width: 672px) {
    footer .footer-container {
        padding: 0 10px;
    }
}
@media screen and (max-width: 338px) {
    footer .footer-container > div:first-of-type{
        flex-direction: column;
        gap: 5px;
    }
    footer .footer-container > div:last-child {
        flex-direction: column;
        gap: 15px;
    }
    footer .footer-container > div:last-child div:has(a){
        width: 100%;
        justify-content: space-evenly;
    }
    footer .footer-container > div:last-child > p {
        display: none;
    }
}

/*
===================================
POP UP PROJECT
===================================
*/

.circle-cover {
    z-index: -90;
    width: 50px;
    aspect-ratio: 1;
    position: fixed;
    transform: translate(-50%, -50%);
    background-color: var(--accent);
    border-radius: 50%;
    opacity: 0;
}

.pop-up-project {
    max-width: var(--large-screen-size);
    width: 100%;
    min-height: 750px;
    position: relative;
    z-index: 100;
    padding: 50px;
    background-color: var(--accent);
    margin: 100px auto 0 auto;

    opacity: 0;
}

.pop-up-project .close-project-btn {
    width: 60px;
    height: 60px;
    background-color: transparent;
    color: var(--secondary);
    border: none;
    border-radius: 5px;
    position: absolute;
    right: 25px;
    top: 0;
}
.pop-up-project .close-project-btn:hover {
    color: var(--accent);
    background-color: var(--secondary);
    cursor: pointer;
}

.pop-up-project .close-project-btn .close-project {
    width: 100%;
    height: 100%;
}

.pop-up-project .tags-pop-up {
    width: 100%;
    display: flex;
    list-style: none;
    justify-content: flex-start;
    flex-wrap: wrap;
    gap: 10px;
    padding: 0;
}
.pop-up-project .tags-pop-up p {
    font-size: 13px;
    font-family: "Inter Bold", sans-serif;
    border-radius: 5px;
    background-color: var(--secondary);
    color: var(--accent);
    margin: 0;
    padding: 10px 25px;
}

.pop-up-project .pop-up-left {
    max-width: 600px;
    width: 100%;
}

.pop-up-project div.pop-up-title {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 25px;
}
.pop-up-project div.pop-up-title h2 {
    color: var(--secondary);
    font-family: "Inter Light", sans-serif;
    position: relative;
    transform: translateX(90px);
    font-size: clamp(25px, calc(5vw), 30px);
    margin-bottom: 5px;
}
.pop-up-project div.pop-up-title div {
    background-color: var(--secondary);
    width: 125px;
    height: clamp(5px, calc(1vw), 8px);
}
@media screen and (max-width: 672px) {
    .pop-up-project div.pop-up-title div {
        width: 100px;
    }
}

.pop-up-project p.textblock-info {
    line-height: 30px;
    letter-spacing: 1px;
    color: var(--secondary);
}

.pop-up-project .pop-up-links {
    display: flex;
    flex-direction: row;
    gap: 10px;
    margin: 50px 0;
}

.pop-up-project .pop-up-links a {
    font-family: "Inter Bold", sans-serif;
    border-radius: 2px;
    background-color: var(--secondary);
    color: var(--accent);
    padding: 15px 30px;
}
.pop-up-project .pop-up-links a:hover {
    background-color: var(--accent2);
}

.pop-up-project .pop-up-info-container {
    display: flex;
    flex-direction: row;
    gap: 50px;
    align-items: center;
    margin-top: 50px;
    flex-wrap: wrap-reverse;
}

.pop-up-project .pop-up-right {
    display: flex;
    min-width: 500px;
    max-width: 500px;
    height: 325px;
    margin-top: 50px;
    overflow: scroll hidden;
    scroll-behavior: smooth;
    scroll-snap-type: x mandatory;
    padding-bottom: 15px;
}
.pop-up-project .pop-up-right a {
    scroll-snap-align: start;
    width: 100%;
    height: 100%;
    flex: 0 0 auto;
}
.pop-up-project .pop-up-right img {
    height: 100%;
    width: 100%;
    object-fit: contain;
}

.pop-up-project .pop-up-right::-webkit-scrollbar-track
{
	border-radius: 5px;
	background-color: var(--accent2);
}

.pop-up-project .pop-up-right::-webkit-scrollbar
{
	height: 20px;
	background-color: var(--accent);
	border-radius: 5px;
}

.pop-up-project .pop-up-right::-webkit-scrollbar-thumb
{
	border-radius: 5px;
	background-color: var(--accent);
    border: 5px solid var(--accent2);

}
@media screen and (min-width: 1250px) {
    .pop-up-project .pop-up-links {
        flex-wrap: wrap;
    }
    .pop-up-project .pop-up-links a {
        flex: 0 0 auto;
    }
}
@media screen and (max-width: 1250px) {
    .pop-up-project {
        margin-top: 25px;
    }
    .pop-up-project .tags-pop-up {
        justify-content: center;
    }
    .pop-up-project .pop-up-info-container {
        justify-content: center;
    }
    .pop-up-project .pop-up-links {
        flex-direction: column;
        width: 100%;
        justify-content: center;
        align-items: center;
    }
    .pop-up-project .pop-up-links a {
        max-width: 400px;
        width: 100%;
    }
}

@media screen and (max-width: 672px) {
    .pop-up-project .pop-up-right {
        width: 95%;
        min-width: 95%;
        max-width: none;
    }

    .pop-up-project {
        padding: 50px 0;
    }
    .pop-up-project .pop-up-left {
        padding: 0 25px;
    }
    .pop-up-project .pop-up-links {
        padding: 0 25px;
    }
}

@media screen and (max-width: 338px) {
    .pop-up-project p.textblock-info {
        font-size: 13px;
    }
    .pop-up-project .pop-up-links {
        flex-direction: column;
        width: 100%;
        justify-content: center;
        align-items: center;
        font-size: 12px;
    }

}

/*
=====================================
GO TO TOP BUTTON
=====================================
*/

.go-to-top-btn {
    position: fixed;
    aspect-ratio: 1;
    width: 60px;
    bottom: 15px;
    right: 15px;
    background-color: var(--accent);
    color: var(--secondary);
    border-radius: 50%;
    display: grid;
    place-items: center;
    z-index: 80;
}
.go-to-top-btn svg {
    height: 50%;
    width: 50%;
}
.go-to-top-btn:hover {
    background-color: var(--secondary);
    color: var(--accent);
    border: 3px solid var(--accent);
}